<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Form Lowongan</title></head>
<body>
<h1 th:text="${job.id == null} ? 'Tambah Lowongan' : 'Edit Lowongan'"></h1>
<form th:action="${job.id == null} ? @{/jobs} : @{/jobs/update}" th:object="${job}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Judul:</label><input type="text" th:field="*{title}" /><br/>
    <label>Deskripsi:</label><textarea th:field="*{description}"></textarea><br/>
    <label>Lokasi:</label><input type="text" th:field="*{location}" /><br/>
    <button type="submit">Simpan</button>
</form>
</body>
</html>
