<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Job Board</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <!-- vh-100 = tinggi 100vh, d-flex = flex container, justify-content-center = center horizontal, align-items-center = center vertikal -->

    <div class="card o-hidden border-0 shadow-lg" style="max-width: 400px; width: 100%;">
        <div class="card-body p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
            </div>
            <div th:if="${param.logout}">
                <p>Anda telah berhasil logout.</p>
            </div>
            <div th:if="${error}" style="color: red; margin-bottom: 10px;">
                <p th:text="${error}"></p>
            </div>

            <form th:action="@{/login}" th:object="${loginRequest}" method="post" class="user">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="form-group">
                    <input type="text" th:field="*{username}" class="form-control form-control-user" placeholder="Enter Username" />
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red"></div>
                </div>
                <div class="form-group">
                    <input type="password" th:field="*{password}" class="form-control form-control-user" placeholder="Enter Password" />
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                <hr>
            </form>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>


</html>