<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{public/fragments/app :: app(~{::content})}">
    <div th:fragment="content">
        <section class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1 class="mb-3" th:text="${job.title}"></h1>
                        <h5 class="text-muted" th:text="${job.company.name}"></h5>
                        <p class="text-muted">Lokasi: <span th:text="${job.location}"></span></p>
                        <hr>

                        <h4>Deskripsi Pekerjaan</h4>
                        <p th:text="${job.description}">
                        </p>

                        <div class="text-end mt-4">
                            <a th:if="${appliedJobIds.contains(job.id)}"
                               th:href="@{/seeker/job/applied}"
                               class="btn btn-success px-4 py-2">View Application</a>

                            <form th:if="${!appliedJobIds.contains(job.id)}"
                                  th:action="@{'/job/apply/' + ${job.id}}"
                                  method="post">
                                <button type="submit" class="btn btn-primary px-4 py-2">Apply Now</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
