<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{public/fragments/app :: app(~{::content})}">
    <div th:fragment="content">
        <div class="container mt-4 bg-light">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">List Notification</h1>
                <form method="post" th:action="@{/seeker/notification/mark-all-read}">
                    <button class="btn btn-primary" type="submit">Mark All as Read</button>
                </form>
            </div>
            <ul class="list-group">
                <li th:each="notification : ${notifications}"
                    th:classappend="${!notification.isRead} ? 'list-group-item-warning' : ''"
                    class="list-group-item">
                    <a th:if="${notification.link != null}"
                       th:href="@{/seeker/notification/redirect/{id}(id=${notification.id})}"
                       th:text="${notification.message}"></a>
                    <span th:if="${notification.link == null}"
                          th:text="${notification.message}"></span>
                    <small class="text-muted d-block"
                           th:text="${#temporals.format(notification.createdAt, 'yyyy-MM-dd HH:mm')}"></small>
                </li>
            </ul>

        </div>

    </div>
</div>
</body>
</html>
