<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:replace="~{admin/fragments/app :: app(~{::content})}">
  <div th:fragment="content">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>
            <div sec:authorize="hasRole('ADMIN')" class="row">
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Total Perusahaan</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalCompanies}">0</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-building fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                          Total Job Seeker</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalSeekers}">0</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                          Lowongan Aktif</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalActiveJobs}">0</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                          Total Lamaran Masuk</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalApplications}">0</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-envelope-open-text fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div sec:authorize="hasRole('COMPANY')" class="row">
              <div class="col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                          Lowongan Aktif</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalActiveJobs}">0</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                          Total Lamaran Masuk</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalApplications}">0</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-envelope-open-text fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
