<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{admin/fragments/app :: app(~{::content})}">
    <div th:fragment="content">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Create Company</h1>
        </div>

        <div class="card shadow mb-4">
            <div class="card-body">
                <form th:action="@{/users/company/save}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div class="row">
                        <!-- Kolom Kiri -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" class="form-control" required/>
                            </div>

                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" id="firstName" name="firstName" class="form-control" required/>
                            </div>

                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" id="lastName" name="lastName" class="form-control" required/>
                            </div>
                        </div>

                        <!-- Kolom Kanan -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control" required/>
                            </div>

                            <div class="form-group">
                                <label for="address">Address (optional)</label>
                                <input type="text" id="address" name="address" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label for="website">Website (optional)</label>
                                <input type="text" id="website" name="website" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-success">Create Seeker</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
