<th:block th:fragment="sidebar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Job Boards</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li th:class="${requestURI.startsWith('/dashboard')} ? 'nav-item active' : 'nav-item'">
    <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li th:class="${requestURI.startsWith('/jobs')} ? 'nav-item active' : 'nav-item'">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Jobs</span>
        </a>
        <div id="collapseTwo" th:class="${requestURI.startsWith('/jobs')} ? 'collapse show' : 'collapse'">
        <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/jobs/list"
                   th:classappend="${requestURI == '/jobs/list'} ? ' active'">List Job</a>
                <a class="collapse-item" href="/jobs/category"
                   th:classappend="${requestURI == '/jobs/category'} ? ' active'">Category</a>
                <a class="collapse-item" href="/jobs/tag"
                   th:classappend="${requestURI == '/jobs/tag'} ? ' active'">Tags</a>
            </div>
        </div>
    </li>


    <!-- Nav Item - Utilities -->
    <li th:class="${requestURI.startsWith('/users')} ? 'nav-item active' : 'nav-item'">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
           aria-expanded="true" aria-controls="collapseUsers">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Management</span>
        </a>
        <div id="collapseUsers" th:class="${requestURI.startsWith('/users')} ? 'collapse show' : 'collapse'">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/users/seeker"
                   th:classappend="${requestURI == '/users/seeker'} ? ' active'">List Seeker</a>
                <a class="collapse-item" href="/users/company"
                   th:classappend="${requestURI == '/users/company'} ? ' active'">List Company</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
</th:block>