<!DOCTYPE html>
<html lang="en" th:fragment="app(content)">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Cari pekerjaan impianmu dengan mudah di portal kami!" />
    <meta name="author" content="JobPortal Team" />
    <title>Job Seeker Portal</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <div th:replace="~{public/fragments/navbar :: navbar}"></div>
    <div th:insert="${content}"></div>
    <div th:replace="~{public/fragments/footer :: footer}"></div>
    <div th:replace="~{public/fragments/script :: scripts}"></div>
</main>
</body>

</html>