<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">JobPortal</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    <li class="nav-item"><a class="nav-link" href="index.html">Beranda</a></li>
                    <li class="nav-item"><a class="nav-link" href="jobs.html">Lowongan</a></li>
                    <li class="nav-item"><a class="nav-link" href="profile.html">Profil Saya</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Kontak</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>